.header {
  margin-top: 34.5px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  margin-right: 240px;

  &__list {
    display: flex;
    align-items: center;
    gap: 0 48.36px;
  }

  &__link {
    color: var(--light);
    font-size: 12.091px;
    font-weight: 400;
    line-height: 15.5px;
    transition: 0.3s ease;

    &:hover {
      color: var(--text);
      font-weight: 600;
    }
  }
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}
